.link {
  color: var(--fg-accent-color);
  text-decoration: none;

  cursor: pointer;

  &:hover {
    opacity: var(--opacity-hover);
  }

  &:active {
    opacity: var(--opacity-active);
  }

  &[state="active"] {
    text-decoration: underline;
  }
}
