.asteroid {
  width: 14px;
  height: 14px;
  animation: rotate var(--time-rotate) linear infinite;

  width: calc(var(--size-asteroid) * 7px);
  height: calc(var(--size-asteroid) * 7px);
  animation-play-state: running;
}

.asteroid_animation-state_stop {
  animation-play-state: paused;
}

.asteroid__image {
  width: 100%;
  height: 100%;
}
