.asteroid {
  width: calc(var(--size-asteroid) * var(--field-width));
  height: calc(var(--size-asteroid) * var(--field-height));
  animation-play-state: running;
  animation: rotateAnimation var(--time-rotate) linear infinite;
}

.asteroid_type_other {
  animation: rotateAnimation var(--time-rotate) linear infinite reverse;
}

.asteroid_state_pause {
  animation-play-state: paused;
  filter: blur(1.5px);
  z-index: -1;
}

.asteroid__image {
  width: 100%;
  height: 100%;
}
