.asteroid {
  animation: rotate var(--time-rotate) linear infinite;

  width: calc(var(--size-asteroid) * var(--field-width));
  height: calc(var(--size-asteroid) * var(--field-height));
  animation-play-state: running;
}

.asteroid_animation-state_stop {
  animation-play-state: paused;
}

.asteroid__image {
  width: 100%;
  height: 100%;
}
