.how-to-play {
  padding: 108px 0 84px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 21px;
}

.how-to-play__header {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.how-to-play__title {
  text-align: center;
  color: var(--fg-light-color);
}

.how-to-play__instruction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 28px;
  color: var(--fg-light-color);
}

.how-to-play__block {
  display: flex;
  align-items: center;
  gap: 28px;
}

.how-to-play_sides_two {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
}

.how-to-play__key-buttons {
  margin: auto;
}

.how-to-play__subtitle {
  margin-bottom: 7px;
}

.how-to-play__key-letter {
  color: var(--accent-secondary-color);
}
