.key-buttons {
  box-sizing: border-box;
  gap: 7px;

  --button-width: 32px;
  --button-height: 32px;

  /* max-width: calc(3 * var(--button-width) + 2 * 7px); */
  width: calc(5 * var(--button-width) + 4 * 7px);

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key-buttons_type_row {
  display: flex;
  gap: 7px;
  max-width: calc(3 * var(--button-width) + 2 * 7px);
}

.key-button {
  color: var(--fg-main-color);
  box-sizing: border-box;
  width: var(--button-width);
  height: var(--button-height);
  display: flex;
  border-radius: 4px;
  background: none;
  transition: all 25ms ease-in-out;
  cursor: pointer;
  position: relative;
  background-color: var(--accent-secondary-color);
  padding: 0;
  border: none;

  &.key-button_state_pressed,
  &:hover {
    background: none;
    justify-content: end;
    align-items: end;
  }

  &.key-button_state_pressed .key-button__letter,
  &:hover .key-button__letter {
    opacity: var(--opacity-hover);
    border: none;
    padding-top: 1px;
    border: 1px solid var(--fg-light-color);
  }

  /* modifications */
  &.key-button_type_space-bar {
    width: calc(5 * var(--button-width) + 4 * 7px);
  }
}

.wave {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  animation: wave 0.3s forwards;
}

.key-button__letter {
  background-color: var(--bg-popup-color);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 3px;
  border-top: 2px solid var(--fg-light-color);
  border-left: 2px solid var(--fg-light-color);
  text-align: center;
  line-height: 24px;
  box-sizing: border-box;
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.1);
  }
}
