.logo {
  padding: 0 4px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 360px;

  &:hover .logo__text {
    opacity: 1;
  }

  &::before {
    position: absolute;
    display: block;
    top: 4px;
    left: 4px;
    width: 40px;
    height: 40px;
    content: '';
    border-radius: 30px;

    background-color: var(--bg-main-color);
    box-shadow: 0 0 20px 10px var(--bg-main-color);

    filter: blur(10px);
  }

  &:hover::before {
    background-color: var(--bg-main-color);
    box-shadow: 0 0 10px 10px var(--bg-main-color);
  }
}

.logo__icon {
  z-index: 1;
  width: 40px;
  height: 40px;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 1s ease-in-out;
  scale: 1;

  &.logo_animation_rotate {
    animation: rotateAnimation 1s ease-in-out forwards;
  }

  &.logo_animation_jump {
    animation: jumpAnimation 1.5s ease-in-out infinite;
  }
}

.logo__text {
  z-index: 1;
  max-width: 300px;
  border: 1px solid var(--border-secondary-color);
  background: var(--bg-popup-color);
  padding: 4px 6px;
  box-sizing: border-box;
  border-radius: 7px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes jumpAnimation {
  0% {
    scale: 0.8;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0.8;
  }
}
